.main
    display: flex;
    flex-direction: column;
    width: 100vw;
    height 73vh;
.Card
    flex: 1;
    width: 95%;
    margin: auto;
    background: #fff;
    border-radius: 2px;
    .UserCoverEditor
        position: relative;
        height: 300px;
        overflow: hidden;
        .UploadePicture-wrapper
            cursor: pointer;
            box-sizing: border-box;
            padding: 10px 20px;
            background: rgba(25,27,31,.6);
            color: #000;
            position: absolute;
            right: 50px;
            top: 24px;
            z-index: 2;
            border: 1px solid rgba(25,27,31,.12);
            // color: rgba(25,27,31,.6);
            // outline: none;
        .UploadPicture-input
            display: none
        .UserCover
            width: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: auto;
            