.profile-main
    margin-top: 24px;
    background: #F3F5F8;
    width: 100%;
    .profile-main-header
        padding: 0 25px;
    .list
        //height: auto;
        padding-left: 25px;
        .post-container
            display flex 
            flex-direction column
            width 600px
            .authorInfo
                display flex
                align-items center
                .avatar
                    width 30px
                    height 30px
                .authorInfo-content
                    font-size 16px
                .authorInfo-detail
                    margin-left 10px
                    font-size 10px
                    color #9491AD
            .title
                width 595px
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
            .footer
                margin-left: -20px
                .btn
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    height: auto; 
                    outline none