.home_container
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./background.jpg')
    background-size cover
    color: #f9f5eb
    &> * 
        margin-bottom: 10px;
    .home_header
        margin-bottom: 30px;
    .home_cta 
        width: 200px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        background-color: #8F6FFE;
        color: #f9f5eb;
        outline: none;
        border: none;
        border-radius: 5px;