.user 
    height 60px
    border-radius 15px
    display flex
    align-items center
    justify-content center
    // &:hover
    //     background: #c3b4f7
    //     color: #fff
    //     border none
.chat_sidebar
        height: 100%;
        background-color: #f9f7ff;
        flex: 0.2;
        border-right: 1px solid #fdfdfd;
        padding-top: 1px
    .chat_header
        margin: 30px 0 20px 0px;
        // color: rgb(85,85,85);
        // font-size: 14px;
        // line-height: 14px;
        // position: relative;
        // text-align: center
    .chat_users > *
        margin-bottom: 2px;
        color: #607eaa;
        font-size: 14px;
        cursor pointer
        //padding-left: 20px
.active
    background: #c3b4f7
    color: #fff
    border none
    outline none