.searchWrapper
    .search
        width 300px
        height 40px
        border-radius 20px
        border none
        outline: none
        padding-left 20px
        &:focus
             border none
