header
    width 100vw
    height 64px
    position relative
    background-color #8F6FFE
    display flex
    align-items center
    z-index 100
    position fixed
    font-size 15px
    top 0
    padding-left 100px
    .tabs
        display flex
        align-items center
        .tab
            color: #e8eff4
            margin-left 50px
            width: 10%
            &:hover
                color #fff
            &-active
                color #fff
                font-weight bold
    .search
        position absolute
        right 10vw
        top 10px
    .btn 
        position absolute
        right 30px
        top 10px
        &:focus
            outline none
               
